@{
    var MethodName = typeof(Event).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;

    var MethodName2 = typeof(Winner).Name;
    string DeleteSP = CRUD.Delete + MethodName2;
    string EditSP = CRUD.Edit + MethodName2;
    string CreateSP = CRUD.Create + MethodName2;

    int index = 1;
}
@model IEnumerable<EventViewModel>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    События
                </div>
                <div align="center">
                    <a asp-action="@Create" asp-route-staffonly="true" class="btn btn-primary w-75">
                        Зарегистрировать
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card m-2" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right:20px;">
                                <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Event.Id"> Изменить </a>
                                <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Event.Id"> Удалить </a>
                            </div>
                            <h5 class="card-title fs-3">
                                @obj.Event.Name
                            </h5>
                            <style>
                                h6 > * {
                                    margin: 10px;
                                }
                            </style>
                            <h6 class="card-subtitle">
                                <div>
                                    @obj.Event.Startdate - @obj.Event.Duration (@Methods.CoalesceDateTime(obj.Event.Enddate))
                                </div>
                            </h6>

                            <div class="card-text" style="max-width: 75vw">
                                <hr />
                                <button class="btn w-100" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="@("#collapseExample" + (index))"
                                        aria-expanded="false"
                                        aria-controls="@("collapseExample" + (index))"
                                        onclick="if (!$(this).hasClass('collapsed')) { $(@("expimg_"+index)).hide(); $(@("dexpimg_"+index)).show(); } else { $(@("expimg_"+index)).show(); $(@("dexpimg_"+index)).hide();}">
                                    <div>
                                        <div class="position-relative fw-bold fs-4 float-start">Всего участников(@obj.Winners.Count()):</div>
                                        <div class="position-relative float-end" style="height: 16px; width:1 16px;">
                                            <img src="/image/expander.png" id="@("expimg_"+index)" />
                                            <img src="/image/dexpander.png" id="@("dexpimg_"+index)" style="display: none;" />
                                        </div>
                                    </div>
                                </button>
                                <div class="collapse" id="@("collapseExample" + (index++))">

                                    @foreach (var item in obj.Winners)
                                    {
                                        <div class="border border-info rounded-2 m-2">
                                            <div class="m-3">
                                                <div class="fw-bold">
                                                    Яхта: @item.Yacht.Name (@item.Yacht.Type.Name)
                                                </div>

                                                @if (obj.Event.Canhavewinners.Value)
                                                {<div>Место: @item.Place</div>}
                                                <span>
                                                    <a class="btn btn-danger" asp-action="@DeleteSP"
                                                       asp-route-eid="@item.Eventid" asp-route-yid="@item.Yachtid">-</a>
                                                    <a class="btn btn-danger" asp-action="@EditSP"
                                                       asp-route-eid="@item.Eventid" asp-route-yid="@item.Yachtid">Edit</a>
                                                </span>

                                            </div>
                                        </div>
                                    }

                                    <a class="btn btn-primary m-4" asp-action="@CreateSP" asp-route-eid="@obj.Event.Id">+</a>
                                </div>
                                <hr />
                                <div class="m-2 fs-3">
                                    Описание:
                                    <div class="card-text" style="max-width: 75vw">
                                        <div class="m-2 fw-light fs-4" style=" white-space: pre-line;"> @(obj.Event.Description)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
