@model EditorBottomButtonsViewModel

<div style="margin:10px">
    @if (Model.ShowAction)
    {

        if (string.IsNullOrEmpty(Model.Controller))
        {
            <button class="btn btn-@Model.Theme" id="submit_button" type="submit" asp-action="@Model.Action">@Model.ActionName</button>
        }
        else
        {
            <button class="btn btn-@Model.Theme" id="submit_button" type="submit" asp-controller="@Model.Controller" asp-action="@Model.Action">@Model.ActionName</button>
        }
    }

    @if (string.IsNullOrEmpty(Model.BackController))
    {

        <a class="btn btn-secondary" id="cancel_button" asp-action="@Model.BackAction">@Model.BackName</a>
    }
    else
    {
        <a class="btn btn-secondary" id="cancel_button" asp-controller="@Model.BackController" asp-action="@Model.BackAction">@Model.BackName</a>
    }
</div>