@{
    var MethodName = typeof(Contract).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;

    string card = "";
}
@model IEnumerable<Contract>

<table class="table table-sm table-striped table-bordered text-white ">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Контракты
                </div>
                @if (User.IsInRole(RolesReadonly.Owner))
                {
                    <div align="center">
                        <a asp-action="@Create" class="btn btn-primary w-75">
                            Создать
                        </a>
                    </div>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>

                    @if (obj.Enddate == null && obj.Paid)
                    {
                        card = "mediumseagreen";
                    }
                    else if (obj.Enddate == null)
                    {
                        card = "palegoldenrod";
                    }
                    else if (obj.Enddate != null && obj.Paid)
                    {
                        card = "cornflowerblue";
                    }
                    else
                    {
                        card = "indianred";
                    }

                    <expander class="w-100" style="background-color: @card " button-class="fw-bold fs-4" message="Контракт №@obj.Id  ">
                        <div class="card" style="width: auto;">
                            <div class="card-body">
                                <div class="position-absolute" style="right:20px;">
                                    @if (obj.Enddate == null && User.IsInRole(RolesReadonly.Owner))
                                    {
                                        <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Id"> Изменить </a>
                                        <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Id">Удалить</a>
                                    }
                                </div>
                                <h5 class="card-title fs-2">
                                    Номер договора: @obj.Id
                                </h5>
                                <hr />
                                <style>
                                    .card-subtitle > div {
                                        margin: 10px;
                                    }
                                </style>
                                <h6 class="card-subtitle">
                                    <div class="fs-3">
                                        Тип: @obj.Contracttype.Name
                                    </div>
                                    <div class="fs-4">
                                        Заключен с : @Methods.PersonPhone(obj.Client)
                                    </div>
                                    <div class="fs-4">
                                        Заключен    : @Methods.PersonPhone(obj.Captaininyacht.Crew.Staff), капитаном яхты @obj.Captaininyacht.Yacht.Name (@obj.Captaininyacht.Yacht.Type.Name)
                                    </div>
                                    <div>
                                        Сроки: @obj.Startdate - @obj.Duration ( @Methods.CoalesceDateTime(obj.Enddate) )
                                    </div>
                                    <div>
                                        Оплачено: @Methods.YesNo(obj.Paid)
                                    </div>
                                </h6>
                                <hr />
                                <div class="card-text fs-4" style="max-width: 75vw">
                                    <div>
                                        Цена: @obj.Averallprice
                                    </div>
                                    <div>Описание:</div>
                                    <div class="card-text" style="max-width: 75vw">
                                        <div class="m-2 fw-light" style=" white-space: pre-line;"> @(obj.Specials)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </expander>
                </td>
            </tr>
        }
    </tbody>
</table>

