@{ 
    var MethodName = typeof(Person).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<Person>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Клиент
                </div>
                <div align="center">
                    <a asp-action="@Create" class="btn btn-primary w-75">
                        Зарегистрировать
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card m-2" style="width: auto;">
                        <div class="card-body">
                            <h5 class="card-title">
                                @obj.Name   @obj.Surname
                            </h5>
                            <style>
                                h6 > * {
                                    margin: 10px;
                                }
                            </style>
                            <h6 class="card-subtitle">
                                <div>
                                    Email: @obj.Email
                                </div>
                                <div>
                                    Телефон: @obj.Phone
                                </div>
                                <div>
                                    Дата регистрации: @obj.Registrydate
                                </div>
                                <div>
                                    Дата рождения: @obj.Birthdate
                                </div>
                                <p>
                                    @obj.Sex
                                </p>
                            </h6>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
