@{
    var m1 = new MethodCRUD
    {
        ClassName = nameof(Review)
    };
}
@model IEnumerable<ReviewViewModel>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                   @(!User.IsInRole(RolesReadonly.Client)?"Отзывы" : "Обратная связь")
                </div>
                @if (User.IsInRole(RolesReadonly.Client))
                {
                    <div align="center">
                        <a asp-action="@m1.Create" class="btn btn-primary w-75">
                            Создать
                        </a>
                    </div>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    @{
                        string color = "";
                        switch (obj.Review.Rate)
                        {
                            case 1:
                                color = "indianred";
                                break;
                            case 2:
                                color = "orangered";
                                break;
                            case 3:
                                color = "palegoldenrod";
                                break;
                            case 4:
                                color = "green";
                                break;
                            case 5:
                                color = "lime";
                                break;
                        }
                    }
                    <expander class="w-100" style="background-color: @color " button-class="fw-bold fs-3" message="Отзыв @Methods.PersonEmail(obj.Review.Client) @obj.Review.Date:">
                        <div class="card m-2" style="width: auto;">
                            <div class="card-body">
                                @if (obj.Review.Clientid == User.PersonId() && User.IsInRole(RolesReadonly.Client))
                                {
                                    <div class="position-absolute p-2" style="right:20px;">
                                        <a class="btn btn-info" asp-action="@m1.Edit" asp-route-id="@obj.Review.Id"> Изменить </a>
                                    </div>
                                }
                                <div style="background-color: silver" class="w-100 p-4">
                                    <h5 class="card-title">
                                        @Methods.PersonNameSurname(obj.Review.Client)
                                    </h5>
                                    <h6 class="card-subtitle">
                                        @obj.Review.Date
                                    </h6>
                                </div>
                                <hr />
                                <div class="card-text fs-4" style="max-width: 75vw">
                                    <div>
                                        Оценено в @obj.Review.Rate
                                    </div>
                                    <div>Текст:</div>
                                    <div class="card-text" style="max-width: 75vw">
                                        <div class="m-2 fw-light" style=" white-space: pre-line;"> @(obj.Review.Text)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </expander>
                </td>
            </tr>
        }
    </tbody>
</table>
