@model IEnumerable<Yachtlease>

    <table class="table table-sm table-striped table-bordered text-white">
        <thead>
            <tr class="table-dark">
                <td>
                    ID
                </td>
                <td>
                    Дата заключения договора
                </td>
                <td>
                    Дата фактического окончания договора
                </td>
                <td>
                    Дата окончания договора
                </td>
                <td>
                    Цена договора
                </td>
                <td>
                    Именование яхты
                </td> 
                <td>
                    Тип яхты
                </td>
                <td>
                    Именования типа контракта
                </td>
                <td colspan="3">
                </td>
            </tr>
        </thead>
        <tbody>
            
        @foreach (var sp in Model)
        {
        <tr class="text-black btn-area-3"> 
            <td>
            @sp.Id
        </td>
            <td>
            @sp.Startdate
        </td>
        <td>
            @Methods.CoalesceDateTime(sp.Enddate)
        </td>
        <td>
            @sp.Duration
        </td>
        <td>
            @sp.Overallprice
        </td>
            <td>
            @sp.Yacht.Name
        </td>
        <td>
            @sp.Yacht.Type.Name
        </td>
        <td>
           @sp.Yachtleasetype.Name
        </td>

            <td align="center">
            @if (!Methods.IsStr(sp.Specials))
            {
                <a class="btn btn-secondary"> Детали </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="DetailsYachtlease" asp-route-id="@sp.Id"> Детали </a>
            }
        </td>


            <td align="center">
            <a class="btn btn-info" asp-action="EditYachtlease" asp-route-id="@sp.Id"> Изменить </a>
        </td>
        <td align="center">
            <a class="btn btn-danger" asp-action="DeleteYachtlease" asp-route-id="@sp.Id"> Удалить </a>
        </td>
             </tr>
        }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" align="center">
                    <a asp-action="CreateYachtlease" class="btn btn-primary">
                        <div style="width: 50vw;">
                            Создать
                        </div>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>

