@model IEnumerable<Yachtleasetype>

    <table class="table table-sm table-striped table-bordered text-white">
        <thead>
            <tr class="table-dark">
                <td>
                    ID
                </td>
                <td>
                    Именование
                </td>
                <td>
                    Цена за день
                </td>
                <td>
                    Служебное пользование
                </td>
                <td colspan="3">
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var sp in Model)
            {
            <tr class="text-black btn-area-3">
                <td>
                    @sp.Id
                </td>
                <td>
                    @sp.Name
                </td>
                <td>
                    @sp.Price
                </td>
                <td>
                    @Methods.YesNo(sp.Staffonly)
                </td>
                <td align="center">
                    @if (!Methods.IsStr(sp.Description))
                    {
                        <a class="btn btn-secondary"> Детали </a>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-action="DetailsYachtleasetype" asp-route-id="@sp.Id"> Детали </a>
                    }
                </td>
                <td align="center">
                    <a class="btn btn-info" asp-action="EditYachtleasetype" asp-route-id="@sp.Id"> Изменить </a>
                </td>
                <td align="center">
                    <a class="btn btn-danger" asp-action="DeleteYachtleasetype" asp-route-id="@sp.Id"> Удалить </a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" align="center">
                    <a asp-action="CreateYachtleasetype" class="btn btn-primary">
                        <div style="width: 50vw;">
                            Создать
                        </div>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>

