@{
    var MethodName = typeof(Material).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<MaterialViewModel>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Материалы
                </div>
                <div align="center">
                    <a asp-action="@Create" class="btn btn-primary w-75">
                        Создать
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right:20px;">
                                <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Material.Id"> Изменить </a>
                                <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Material.Id">Удалить</a>
                            </div>
                            <h5 class="card-title">
                                @obj.Material.Name
                            </h5>
                            <h6 class="card-subtitle"> @obj.Material.Name</h6>
                            <div class="card-text">
                                Доступно материалов:  @obj.Count @obj.Format
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

