@{
    var MethodName = typeof(Materiallease).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<MaterialLeaseWithMetricsViewModel>

<table class="table table-sm table-striped table-bordered text-white ">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Поставка материалов
                </div>
                <div align="center">
                    <a asp-action="@Create" class="btn btn-primary w-75">
                        Создать
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right:20px;">
                                @if (obj.Materiallease.Deliverydate == null)
                                {
                                <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Materiallease.Id"> Изменить </a>
                                <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Materiallease.Id">Удалить</a>
                                }
                            </div>
                            <h5 class="card-title">
                                Номер договора: @obj.Materiallease.Id
                            </h5>
                            <h6 class="card-subtitle">
                                @obj.Materiallease.Startdate - @Methods.CoalesceDateTime(obj.Materiallease.Deliverydate)
                            </h6>
                            <hr />
                            <div class="card-text" style="max-width: 75vw">
                                <div class="fs-5 m-2">
                                    <div>
                                        Поставщик материалов: @obj.Materiallease.SellerNavigation.Name
                                    </div>
                                    <div>
                                        Материал: @obj.Materiallease.MaterialNavigation.Name (@obj.Materiallease.MaterialNavigation.Type.Name)
                                        <div style="color: red;"> @if (obj.Materiallease.Deliverydate != null) { <span>Стало</span>} else { <span>Сейчас</span> } доступно: @obj.Count @obj.Format </div>
                                    </div>
                                </div>
                                 <div>
                                    Количество: @obj.Materiallease.Count 
                                </div>
                                 <div>
                                    Цена за единицу: @Methods.Money( obj.Materiallease.Priceperunit )
                                 </div>
                                <div>
                                    Цена поставки: @Methods.Money(obj.Materiallease.Overallprice)
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

