@{
    var MethodName = typeof(Materiallease).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<Materiallease>

<table class="table table-sm table-striped table-bordered text-white ">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Поставка материалов
                </div>
                <div align="center">
                    <a asp-action="@Create" class="btn btn-primary w-75">
                        Создать
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right: 0px;">
                                <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Id"> Изменить </a>
                                <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Id">Удалить</a>
                            </div>
                            <h5 class="card-title">
                                Номер договора: @obj.Id
                            </h5>
                            <h6 class="card-subtitle">
                                @obj.Startdate - @Methods.CoalesceDateTime(obj.Deliverydate)
                            </h6>
                            <hr />
                            <div class="card-text" style="max-width: 75vw">
                                <p>
                                    Поставщик материалов: @obj.SellerNavigation.Name
                                </p>
                                <p>
                                    Материал: @obj.MaterialNavigation.Name
                                </p>
                                 <p>
                                    Количество: @obj.Count 
                                    Цена за единицу: @obj.Priceperunit
                                </p>
                                <p>
                                    Цена поставки: @obj.Overallprice
                                </p>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

