@{
    var MethodName = typeof(Materialtype).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<Materialtype>

<table class="table table-sm table-striped table-bordered text-white ">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Типы материалов
                </div>
                <div align="center">
                    <a asp-action="@Create" class="btn btn-primary w-50">
                        Создать
                    </a>
                </div>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right:20px;">
                                <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Id"> Изменить </a>
                            </div>
                            <h5 class="card-title">
                                @obj.Name
                            </h5>
                            <h6 class="card-subtitle"> Единица измерения: @obj.Metric</h6>
                            <span>Описание:</span>
                            <div class="card-text" style="max-width: 75vw">
                                <p style="text-indent: 2em; white-space: pre-line;">
                                    @(obj.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>
