@model ObjectViewModel<Materiallease>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">


    <div class="form-group @Model.HideOnCreate">
        <label asp-for="Object.Id"></label>
        <input class="form-control" asp-for="Object.Id" readonly />
    </div>


    <div class="form-group @Model.AlwaysHidden">
        <label asp-for="Object.Startdate"></label>
        <div>
            <span asp-validation-for="Object.Startdate" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Startdate"
               readonly="@Model.ReadOnly" />
    </div>
    <div class="form-group @Model.HideOnCreate">
        <label>Поставлено</label>
        @if (Model.Action == "Edit" && Model.Object.Deliverydate == null && !Model.ReadOnly)
        {
            <select class="form-control" asp-for="Option[0]" asp-items="@(new List<SelectListItem> {
                        new SelectListItem { Selected = true, Text="Да", Value="true" },
                        new SelectListItem { Text="Нет", Value="false" },
                 })"></select>
        }
        else
        {
            <input class="form-control" readonly value="@(Model.Object.Deliverydate != null? "Да": "Нет")" />
        }
    </div>



    <div class="form-group">
        <label asp-for="Object.Priceperunit"></label>
        <div>
            <span asp-validation-for="Object.Priceperunit" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Priceperunit"
               readonly="@(Model.ReadOnly)" />
    </div>


    <div class="form-group">
        <label asp-for="Object.Count"></label>
        <div>
            <span asp-validation-for="Object.Count" class="text-danger"></span>
        </div>
        @if (Model.Object.MaterialNavigation != null)
        {
            <input class="form-control" asp-for="Object.Count" min="1"
                   readonly="@(Model.ReadOnly)" />
        }
        else
        {
            <input class="form-control" asp-for="Object.Count" min="1"
                   placeholder="Количество"
                   readonly="@(Model.ReadOnly)" />
        }

    </div>

    <div class="form-group @Model.AlwaysHidden">
        <label asp-for="Object.Overallprice"></label>
        <div>
            <span asp-validation-for="Object.Overallprice" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Overallprice"
               readonly />
    </div>

    <div class="@Model.DisplayNone(false, CRUD.Delete, CRUD.Edit)">

        <hr />

        <label>@typeof(Material).Name</label>

        <div class="form-group">
            <label>Изменить объект</label>
            <select class="form-control" asp-for="Object.Material"
                    asp-items="@((ViewData["Material"] as IEnumerable<Material> ?? Enumerable.Empty<Material>()).Select(p =>
    new SelectListItem
    {
        Text = $"{p.Name} {Methods.Message(p)}",
        Value = $"{p.Id}"
    }
))"
                    disabled="@Model.ReadOnly">
                <option value="" disabled selected>Выберите материал</option>
            </select>
        </div>

    </div>

    <hr />

    <div class="@Model.DisplayNone(false, CRUD.Delete, CRUD.Edit)">

        <label>@typeof(Seller).Name</label>

        <div class="form-group">
            <label>Изменить объект</label>
            <select class="form-control" asp-for="Object.Seller"
                    asp-items="@(new SelectList(ViewData["Seller"] as IEnumerable<Seller> ?? Enumerable.Empty<Seller>(), "Id", "Name"))"
                    disabled="@Model.ReadOnly">
                <option value="" disabled selected>Выберите поставщика</option>
            </select>
        </div>
        <div class="dropdown-divider"></div>

    </div>


    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
        ShowAction = Model.ShowAction,
        Theme = Model.Theme,
        Action = Model.ActionObjectName,
        BackAction = Model.Object.GetType().Name
    })" />
</form>
