@model MaterialInfo
@{
    var id = "";
    var cur_placeholder = "";
}

<div class="p-2">
    <div class="m-2 w-50 border border-1 border-primary rounded-2">
        <div class="m-2">
            <h4 class="modal-title m-2">Отчёт по материалам</h4>
            <form class="row g-2 p-2" asp-action="MaterialAnalytics" method="get">
                <input hidden asp-for="Flag" />
                <div class="mb-3 row">
                    @{
                        id = "f1_" + Methods.RanGuid;
                        cur_placeholder = "Именование материала";
                    }
                    <div class="form-floating col-sm-8">
                        <input class="form-control" placeholder="@cur_placeholder" asp-for="LikeName" id="@id" />
                        <label for="@id">@cur_placeholder</label>
                    </div>
                    <div class="m-sm-2 col-auto w-25">
                        <button type="submit" class="btn btn-primary mb-3 w-100">Найти</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    @{
                        id = "f1_" + Methods.RanGuid;
                        cur_placeholder = "Тип материала";
                    }
                    <div class="form-floating col-sm-8">
                        <input class="form-control" placeholder="@cur_placeholder" asp-for="LikeTypeName" id="@id" />
                        <label for="@id">@cur_placeholder</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    @{
                        id = "f1_" + Methods.RanGuid;
                        cur_placeholder = "С";
                    }
                    <div class="form-floating col-sm-8">
                        <input class="form-control" placeholder="@cur_placeholder" asp-for="From" id="@id" type="date" />
                        <label for="@id">@cur_placeholder</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    @{
                        id = "f1_" + Methods.RanGuid;
                        cur_placeholder = "По(не включительно)";
                    }
                    <div class="form-floating col-sm-8">
                        <input class="form-control" placeholder="@cur_placeholder" asp-for="To" id="@id" type="date" />
                        <label for="@id">@cur_placeholder</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <style>
            .table-dark > td{
                padding: 15px;
            }
        </style>
        <tr class="table-dark text-center">
            <td>
                Именование
            </td>
            <td>
                Именование типа материала
            </td>
            <td>
                Средняя стоимость
            </td>
            <td>
                Cуммарная стоимость
            </td>
            <td>
                Потраченые материалы
            </td>
            <td>
                Материалов доступно
            </td>
            <td>
                Закупленные материалы
            </td> 
            <td>
                Количество поставок
            </td>
            <td>
                Количество выполненных заявок
            </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var sp in Model.Materials)
        {
            <tr class="text-black text-center">
                <td >
                    @sp.Name
                </td>
                <td>
                    @sp.TypeName
                </td>
                <td>
                    @Methods.Money(sp.Avg)
                </td>
                <td>
                    @Methods.Money(sp.Sum)
                </td>
                <td>
                    @sp.ReqCount @sp.Metric
                </td> 
                <td>
                    @(sp.AllCount - sp.ReqCount) @sp.Metric
                </td>
                <td>
                    @sp.AllCount @sp.Metric
                </td>
                <td>
                    @sp.Contracts
                </td>
                <td>
                    @sp.Requests
                </td>
            </tr>
        }
    </tbody>
</table>