@model IEnumerable<MinCrewViewModel>
@{
    var MethodName = typeof(Yachttype).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;

    var MethodName1 = typeof(PositionYachttype).Name;
    string CreatePY = CRUD.Create + MethodName1;
    string EditPY = CRUD.Edit + MethodName1;
    string DeletePY = CRUD.Delete + MethodName1;
}
<table class="table table-sm table-striped table-bordered text-white ">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Тип яхты
                </div>
                <div align="center">
                    @if (User.IsInRole(RolesReadonly.Owner))
                    {
                        <a asp-action="@Create" class="btn btn-primary w-75">
                            Создать
                        </a>
                    }
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card m-2" style="width: auto;">
                        <div class="card-body">
                            @if (User.IsInRole(RolesReadonly.Owner))
                            {
                                <div class="position-absolute" style="right:20px;">
                                    <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Yachttype.Id"> Изменить </a>
                                    <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Yachttype.Id">Удалить</a>
                                </div>
                            }
                            <h5 class="card-title fs-2">
                                @obj.Yachttype.Name 
                            </h5>
                            <h6 class="card-subtitle">
                                <span class="fs-4">В клубе сейчас @obj.Yachts яхт(а) такого типа</span>
                                <div>
                                    Рама: @obj.Yachttype.Frame
                                </div>
                                <div>
                                    Целевая часть: @obj.Yachttype.Goal
                                </div>
                                <div>
                                    Класс: @obj.Yachttype.Class
                                </div>
                                <div>
                                    Количество парусов: @obj.Yachttype.Sails
                                </div>
                                @if (User.IsInRole(RolesReadonly.Owner))
                                {
                                    <div>
                                        Количество персонала яхты: @obj.MinCrew.Sum(p => p.Count) из @obj.Yachttype.Crewcapacity доступных
                                    </div>
                                }
                                <div>
                                    Количество пассажиров: @obj.Yachttype.Crewcapacity
                                </div>
                            </h6>

                            @if (User.IsInRole(RolesReadonly.Owner))
                            {
                                <div class="m-2">
                                    <expander class="w-100 " button-class="fw-bold fs-4" message="Минимальное количество персонала(@obj.MinCrew.Count()):">
                                        @foreach (var item in obj.MinCrew)
                                        {
                                            <div class="border border-info rounded-2 m-2">
                                                <div class="m-3">
                                                    <div class="fw-bold">
                                                        Должность: @item.Position.Name
                                                    </div>
                                                    <div class="fst-italic">
                                                        Количество: @item.Count
                                                    </div>
                                                    <div>Описание:</div>
                                                    <span>
                                                        @if (item.Position.Name != "Captain")
                                                        {
                                                            <a class="btn btn-danger" asp-action="@DeletePY"
                                                               asp-route-ytid="@obj.Yachttype.Id" asp-route-pid="@item.Positionid">-</a>
                                                            <a class="btn btn-danger" asp-action="@EditPY"
                                                               asp-route-ytid="@obj.Yachttype.Id" asp-route-pid="@item.Positionid">Edit</a>
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                        @if (obj.MinCrew.Sum(p => p.Count) != obj.Yachttype.Crewcapacity)
                                        {
                                            <a class="btn btn-primary m-4" asp-action="@CreatePY"
                                               asp-route-ytid="@obj.Yachttype.Id">+</a>
                                        }

                                    </expander>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(obj.Yachttype.Description))
                            {
                                <div class="m-2">
                                    <div>Описание:</div>
                                    <div class="card-text" style="max-width: 75vw">
                                        <div class="m-2 fw-light" style=" white-space: pre-line;"> @(obj.Yachttype.Description)</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>
