@model IEnumerable<Yachtlease>
@{
    var MethodName = typeof(Yachtlease).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
    string card = "";
}
<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Договор на яхту
                </div>
                @if (User.IsInRole(RolesReadonly.Owner))
                {
                    <div align="center">
                        <a asp-action="@Create" class="btn btn-primary w-75">
                            Создать
                        </a>
                    </div>
                }
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var obj in Model)
        {

            @if (obj.Enddate == null && obj.Paid)
            {
                card = "mediumseagreen";
            }
            else if (obj.Enddate == null)
            {
                card = "palegoldenrod";
            }
            else if (obj.Enddate != null && obj.Paid)
            {
                card = "cornflowerblue";
            }              
            else
            {
                card = "indianred";
            }

<tr class="text-black">
    <td>
        <expander class="w-100" style="background-color: @card " button-class="fw-bold fs-4" message="Контракт по яхте @obj.Yacht.Name (@obj.Yacht.Type.Name) №@obj.Id  ">
            <div class="card m-2" style="width: auto;">
                <div class="card-body">
                    <div class="position-absolute" style="right:20px;">
                        @if (obj.Enddate == null && User.IsInRole(RolesReadonly.Owner))
                        {
                            <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Id"> Изменить </a>
                            <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Id"> Удалить </a>
                        }
                    </div>
                    <h3 class="card-title">
                        Номер контракта: @obj.Id
                    </h3>
                    <h4 class="card-subtitle m-2">
                        Тип: @obj.Yachtleasetype.Name
                    </h4>
                    <h4 class="card-subtitle m-2 ">
                        Срок: @obj.Startdate - @obj.Duration (@Methods.CoalesceDateTime(obj.Enddate))
                    </h4>
                    <h5 class="card-subtitle fst-italic m-2">
                        Заключено по @obj.Yacht.Name (@obj.Yacht.Type.Name)
                    </h5>
                    <div class="card-subtitle m-3 text-danger fs-4">
                        Оплачено: @Methods.YesNo(obj.Paid)
                    </div>
                    <div class="m-2">
                        <div>
                            Стоимость контракта: @Methods.Money(obj.Overallprice.Value)
                        </div>
                        <div>Описание:</div>
                        <div class="card-text" style="max-width: 75vw">
                            <div class="m-2 fw-light" style=" white-space: pre-line;"> @(obj.Specials)</div>
                        </div>
                    </div>
                </div>
            </div>
        </expander>
    </td>
</tr>
}

    </tbody>
</table>

