@model ObjectViewModel<StaffPosition>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">

    <div class="form-group @Model.AlwaysHidden">
        <label asp-for="Object.Id"></label>
        <input class="form-control" asp-for="Object.Id" readonly />
    </div>

    <div class="form-group  @Model.HideOnDelete @Model.HideOnEdit">
        <label>Должность</label>

        <select class="form-control" asp-for="Object.Positionid" asp-items="@(new SelectList(ViewData["Position"] as IEnumerable<Position> ?? Enumerable.Empty<Position>(), "Id", "Name"))"
                disabled="@Model.ReadOnly">
            <option value="" disabled selected>Выберите должность</option>
        </select>
    </div> 

    <div class="form-group  @Model.HideOnDelete">
        <label>Зарплата</label>

        <input class="form-control" asp-for="Object.Salary" />
    </div>


    <input hidden class="form-control" asp-for="Object.Staffid" />

    <input hidden asp-for="Object.Startdate"
           readonly />

    <div class="form-group @Model.HideOnCreate @Model.HideOnDelete">
        <label asp-for="Object.Enddate"></label>
        <div>
            <span asp-validation-for="Object.Enddate" class="text-danger"></span>
        </div>
        @if (Model.Action == "Edit" && Model.Object.Enddate == null && !Model.ReadOnly)
        {
            <select class="form-control" asp-for="Option[0]" asp-items="@(new List<SelectListItem> {
                        new SelectListItem { Selected = true, Text="Да", Value="true" },
                        new SelectListItem { Text="Нет", Value="false" },
                 })"></select>
        }
        else
        {
            <input class="form-control" readonly value="@(Model.Object.Enddate != null? "Да": "Нет")" />
        }
    </div>


    <div class="form-group">
        <label asp-for="Object.Description"></label>
        <div>
            <span asp-validation-for="Object.Description" class="text-danger"></span>
        </div>
        <textarea class="form-control" asp-for="Object.Description"
                  readonly="@(Model.ReadOnly)"></textarea>
    </div>

    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
        ShowAction = Model.ShowAction ,
        Theme = Model.Theme,
        Action = Model.ActionObjectName,
        BackAction = nameof(Staff)
    })" />
</form>
