@model IEnumerable<Person>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <td>
                ID
            </td>
            <td>
                Имя
            </td>
            <td>
                Фамилия
            </td>
            <td>
                Дата рождения
            </td>
            <td>
                Пол
            </td>
            <td>
                Email
            </td>
            <td>
                Телефон
            </td>
            <td>
                Время регистрации
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Person in Model)
        {
            <tr class="text-black">
                <td>
                    @Person.Id
                </td>
                <td>
                    @Person.Name
                </td>
                <td>
                    @Person.Surname
                </td>
                <td>
                    @Person.Birthdate.ToShortDateString()
                </td>
                <td>
                    @Person.Sex
                </td>
                <td>
                    @Person.Email
                </td>
                <td>
                    @Person.Phone
                </td>
                <td>
                    @Person.Registrydate
                </td>
            </tr>
        }
    </tbody>
</table>
