@model ObjectViewModel<Staff>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model.Action" method="post">

    @if (Model.ShowReadOnlyFields)
    {
        <div class="form-group">
            <label asp-for="Object.Id"></label>
            <input class="form-control" asp-for="Object.Id" readonly />
        </div>
    }

    <div class="form-group">
        <label asp-for="Object.Name"></label>
        <div>
            <span asp-validation-for="Object.Name" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Name"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group">
        <label asp-for="Object.Surname"></label>
        <div>
            <span asp-validation-for="Object.Surname" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Surname"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group">
        <label asp-for="Object.Birthdate"></label>
        <div>
            <span asp-validation-for="Object.Birthdate" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Birthdate"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group">
        <label asp-for="Object.Sex">Category</label>
        <div>
            <span asp-validation-for="Object.Sex" class="text-danger"></span>
        </div>
        <select asp-for="Object.Sex" class="form-control"
                disabled="@Model.ReadOnly"
                asp-items="@(new SelectList(new List<string> { "Male", "Female", "Other"}))">
            <option value="" disabled selected>Выберите пол</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Object.Email"></label>
        <div>
            <span asp-validation-for="Object.Email" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Email" type="email"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group">
        <label asp-for="Object.Phone"></label>
        <div>
            <span asp-validation-for="Object.Phone" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Phone" type="tel"
               readonly="@Model.ReadOnly" />
    </div>

    @if (Model.ShowReadOnlyFields && (DateTime.Now - Model.Object.Hiringdate).Days <= 14)
    {
        <div class="form-group">
            <label asp-for="Object.Hiringdate"></label>
            <div>
                <span asp-validation-for="Object.Hiringdate" class="text-danger"></span>
            </div>
            <input class="form-control" asp-for="Object.Hiringdate"
                   readonly="@Model.ReadOnly" />
        </div>
    }

    @if (Model.ShowAction)
    {
        <button class="btn btn-@Model.Theme" type="submit" asp-action="@Model.ActionObjectName">@Model.Action</button>
    }
    <a class="btn btn-secondary" asp-action="Staff">Back</a>
</form>