@model ObjectViewModel<Extradationrequest>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">

    <div class="form-group @Model.AlwaysHidden">
        <label asp-for="Object.Id"></label>
        <input class="form-control" asp-for="Object.Id" readonly />
    </div>


    <input hidden readonly asp-for="Object.Startdate" />

    <div class="form-group">
        <label asp-for="Object.Duration"></label>
        <div>
            <span asp-validation-for="Object.Duration" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Duration"
               readonly="@Model.ReadOnly" />
    </div>



    <div class="form-group @Model.HideOnCreate @Model.HideOnDelete">
        <label asp-for="Object.Status"></label>
        <div>
            <span asp-validation-for="Object.Status" class="text-danger"></span>
        </div>
        <select class="form-control" asp-for="Object.Status"
                asp-items="@(new List<SelectListItem> {
                                            new SelectListItem {Text = "Waits", Selected = true },
                                            new SelectListItem { Text = "Canceled" },
                                            new SelectListItem {Text = "Done" }
                                })">
        </select>
    </div>

    <div class="form-group @Model.HideOnEdit">
        <label asp-for="Object.Count"></label>
        <div>
            <span asp-validation-for="Object.Count" class="text-danger"></span>
        </div>

        <input class="form-control" asp-for="Object.Count" min="1"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group @Model.HideOnEdit @Model.HideOnDelete">
        <div class="dropdown-divider"></div>
        <label>Выбрать материал</label>
        <select class="form-control" asp-for="Object.Material"
                asp-items="@(new SelectList(ViewData["Material"] as IEnumerable<Material> ?? Enumerable.Empty<Material>(), "Id", "Name"))"
                disabled="@Model.ReadOnly">
            <option value="" disabled selected>Выберите материал</option>
        </select>
        <input hidden asp-for="Object.Material" />
    </div>



    <div class="form-group @Model.HideOnDelete @Model.HideOnEdit">
        <label>Сотрудник</label>
        <select class="form-control" asp-for="Object.Staffid" asp-items="@(((ViewData["StaffPosition"] as IEnumerable<RepairStaff>) ?? Enumerable.Empty<RepairStaff>()).Select(p =>
                       {
                           var item = new SelectListItem();
                           item.Text = Methods.PersonPhone(p.Staff);
                           item.Value = $"{p.Id}";
                           return item;
                       }))"
                disabled="@Model.ReadOnly">
            <option value="" disabled selected>Выберите сотрудника</option>
        </select>
        <input hidden asp-for="Object.Staffid" />
    </div>



    <input hidden asp-for="Object.Repairid" />


    <div class="dropdown-divider"></div>
    <div class="form-group">
        <label asp-for="Object.Description"></label>
        <div>
            <span asp-validation-for="Object.Description" class="text-danger"></span>
        </div>
        <textarea class="form-control" asp-for="Object.Description"
                  readonly="@Model.ReadOnly"></textarea>
    </div>

    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
            ShowAction = Model.ShowAction,
            Theme = Model.Theme,
            Action = Model.ActionObjectName,
            BackAction = Model.Object.GetType().Name
        })" />
</form>
