@{
    var MethodName = typeof(Extradationrequest).Name;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<Extradationrequest>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Выдача материалов
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right: 0px;">
                                <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Id"> Изменить </a>
                                <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Id">Удалить</a>
                            </div>
                            <h5 class="card-title">
                                Заявка #@obj.Id
                            </h5>
                            <h6 class="card-subtitle">
                                @obj.Startdate - @obj.Duration (@Methods.CoalesceDateTime(obj.Enddate))
                            </h6>
                            <hr />
                            <div class="card-text" style="max-width: 75vw">
                                <p>
                                    <div class="text-center" style="width: 25%; font-size: 2em; border: 1px solid red;">@obj.Status</div>
                                </p>
                                <p>
                                    Ремонт: @obj.Repair.Startdate - @obj.Repair.Duration
                                </p>
                                <p>
                                    Материал: @obj.MaterialNavigation.Name (@obj.MaterialNavigation.Type.Name)
                                </p>
                                <p>
                                    Количество материала: @obj.Count
                                </p>
                                <p>
                                    Сотрудник: @obj.Staff.Staff.Name @obj.Staff.Staff.Surname @obj.Staff.Staff.Email
                                </p>
                                <span>Описание</span>
                                <p style="text-indent: 2em; white-space: pre-line;">
                                    @(obj.Description)
                                </p>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
                    }
        </tbody>
</table>

