@{
    var MethodName = typeof(Extradationrequest).Name;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;
}
@model IEnumerable<ExtradationRequestAvalilableViewModel>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Выдача материалов
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right:20px;">
                                @if (obj.Extradationrequest.Enddate == null && obj.LeadRight)
                                {
                                    <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Extradationrequest.Id"> Изменить </a>
                                    <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Extradationrequest.Id">Удалить</a>
                                }
                            </div>
                            <h5 class="card-title">
                                Заявка #@obj.Extradationrequest.Id
                            </h5>
                            <h6 class="card-subtitle">
                                @obj.Extradationrequest.Startdate - @obj.Extradationrequest.Duration (@Methods.CoalesceDateTime(obj.Extradationrequest.Enddate))
                            </h6>

                            <div class="text-center m-2" style="width: 25%; font-size: 2em; border: 1px solid red;">@obj.Extradationrequest.Status</div>

                            <hr />
                            <expander class="w-100 " button-class="fw-bold fs-4" message="Подробнее: ">
                                <div class="card-text m-2" style="max-width: 75vw">
                                    <div class="fs-4 m-2">
                                        <div>
                                            Номер ремонта: @obj.Extradationrequest.Repairid
                                        </div>
                                        <div>
                                            Даты проведения ремонта: @obj.Extradationrequest.Repair.Startdate - @obj.Extradationrequest.Repair.Duration
                                        </div>
                                        <div>
                                            Материал: @obj.Extradationrequest.MaterialNavigation.Name (@obj.Extradationrequest.MaterialNavigation.Type.Name)
                                        </div>
                                        @if (obj.Extradationrequest.Enddate == null)
                                        {
                                            <div>
                                                Количество материала(@obj.Format): @obj.Extradationrequest.Count из @obj.Count доступных
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                Количество запрашиваемого материала(@obj.Format): @obj.Extradationrequest.Count
                                            </div>
                                        }
                                    </div>
                                    <div>
                                        Сотрудник: @obj.Extradationrequest.Staff.Staff.Name @obj.Extradationrequest.Staff.Staff.Surname @obj.Extradationrequest.Staff.Staff.Email
                                    </div>
                                    <span>Описание</span>
                                    <div style="text-indent: 2em; white-space: pre-line;">
                                        @(obj.Extradationrequest.Description)
                                    </div>

                                </div>
                            </expander>

                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

