@model ObjectViewModel<Repair>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">


    @{
        Model.ReadOnly |= Model.Object.Enddate != null;
    }


    @if (Model.ShowReadOnlyFields)
    {
        <div class="form-group">
            <label asp-for="Object.Id"></label>
            <input class="form-control" asp-for="Object.Id" readonly />
        </div>
    }


    @if (Model.Action != "Create")
    {
        <div class="form-group">
            <label>Завершить ремонт?</label>
            @if (Model.Action == "Edit" && Model.Object.Enddate == null && !Model.ReadOnly)
            {
                <select class="form-control" asp-for="Option[0]" asp-items="@(new List<SelectListItem> {
                        new SelectListItem { Selected = true, Text="Да", Value="true" },
                        new SelectListItem { Text="Нет", Value="false" },
                 })"></select>
            }
            else
            {
                <input class="form-control" readonly value="@(Model.Object.Enddate != null? "Да": "Нет")" />
            }
        </div>
    }

    <div class="form-group">
        <label asp-for="Object.Duration"></label>
        <div>
            <span asp-validation-for="Object.Duration" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Duration"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group">
        <label asp-for="Object.Personnel"></label>
        <div>
            <span asp-validation-for="Object.Personnel" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Personnel" min="1" value="1"
               readonly="@Model.ReadOnly" />
    </div>

    @switch (Model.Action)
    {
        case "Create":
            {
                <input hidden readonly asp-for="Object.Status" value="Create" />
                break;
            }
        case "Edit" when !Model.ReadOnly:
            {
                <div class="form-group">
                    <label asp-for="Object.Status"></label>
                    <div>
                        <span asp-validation-for="Object.Status" class="text-danger"></span>
                    </div>
                    <select class="form-control" asp-for="Object.Status"
                            asp-items="@(new List<SelectListItem> { new SelectListItem {Text = "Ожидание материалов", Selected = true }, new SelectListItem { Text = "В процессе" }, })"
                            disabled="@Model.ReadOnly">
                    </select>
                </div>
                break;
            }
    }



    @if (Model.Object.Yacht != null)
    {
        <div class="dropdown-divider"></div>
        <label>@Model.Object.Yacht.GetType().Name</label>

        <div class="form-group">
            <label asp-for="Object.Yacht.Name"></label>
            <input class="form-control" value="@(Model.Object.Yacht.Name)"
                   readonly />
        </div>
        <label>@Model.Object.Yacht.Type.GetType().Name</label>

        <div class="form-group">
            <label asp-for="Object.Yacht.Type.Name"></label>
            <input class="form-control" value="@(Model.Object.Yacht.Type.Name)"
                   readonly />
        </div>
    }
    @if (Model.Action != "Delete" && Model.Action != "Edit")
    {
        <div class="form-group">
            <label>Изменить объект</label>
            <select class="form-control" asp-for="Object.Yachtid"
                    asp-items="@(new SelectList(ViewData["Yacht"] as IEnumerable<Yacht> ?? Enumerable.Empty<Yacht>(), "Id", "Name"))"
                    disabled="@Model.ReadOnly">
                <option value="" disabled selected>Выберите яхту</option>
            </select>
        </div>
    }
    else
    {
        <input hidden readonly asp-for="Object.Yachtid" />
    }



    <div class="dropdown-divider"></div>
    <div class="form-group">
        <label asp-for="Object.Description"></label>
        <div>
            <span asp-validation-for="Object.Description" class="text-danger"></span>
        </div>
        <textarea class="form-control" asp-for="Object.Description"
                  readonly="@Model.ReadOnly"></textarea>
    </div>

    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
        ShowAction = Model.ShowAction && ( Model.Object.Enddate == null || Model.Action != "Edit"),
        Theme = Model.Theme,
        Action = Model.ActionObjectName,
        BackAction = Model.Object.GetType().Name
    })" />
</form>
