@model IEnumerable<RepairStaff>

    <table class="table table-sm table-striped table-bordered text-white">
        <thead>
            <tr class="table-dark">
                <td>
                    ID
                </td>
                <td>
                    Название должности
                </td>
                <td>
                    Имя сотрудника
                </td>
                <td>
                    Email
                </td>
                <td>
                    Дата заступления на должность
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var sp in Model)
            {
            <tr class="text-black">
                <td>
                    @sp.Id
                </td>
                <td>
                    @sp.Position.Name
                </td>
                <td>
                    @sp.Staff.Name
                </td>
                <td>
                    @sp.Staff.Email
                </td>
                <td>
                    @sp.Startdate
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
               @* <td colspan="10" align="center">
                    <a asp-action="CreateStaffPosition" class="btn btn-primary">
                        <div style="width: 50vw;">
                            Создать
                        </div>
                    </a>
                </td>*@
            </tr>
        </tfoot>
    </table>

