
@{
    var MethodName = typeof(Repair).Name;
    string Create = CRUD.Create + MethodName;
    string Edit = CRUD.Edit + MethodName;
    string Delete = CRUD.Delete + MethodName;

    string DeleteRM = CRUD.Delete + typeof(RepairMen).Name;
    string CreateRM = CRUD.Create + typeof(RepairMen).Name;

    string DeleteER = CRUD.Delete + typeof(Extradationrequest).Name;
    string EditER = CRUD.Edit + typeof(Extradationrequest).Name;
    string CreateER = CRUD.Create + typeof(Extradationrequest).Name;
}
@model IEnumerable<Repair_MenViewModel>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <th class="d-print-table-cell">
                <div class="text-center" style="font-size: 3em">
                    Ремонт яхты
                </div>
                <div align="center">
                    <a asp-action="@Create" class="btn btn-primary w-75">
                        Создать
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var obj in Model)
        {
            <tr class="text-black">
                <td>
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="position-absolute" style="right:20px;">
                                @if (obj.Repair.Enddate == null && obj.LeadRight)
                                {
                                    <a class="btn btn-info" asp-action="@Edit" asp-route-id="@obj.Repair.Id"> Изменить </a>
                                    <a class="btn btn-danger" asp-action="@Delete" asp-route-id="@obj.Repair.Id">Удалить</a>
                                }
                            </div>
                            <h5 class="card-title">
                                Номер ремонта: @obj.Repair.Id
                            </h5>
                            <h6 class="card-subtitle">
                                @obj.Repair.Startdate - @obj.Repair.Duration (@Methods.CoalesceDateTime(obj.Repair.Enddate))
                            </h6>
                            <hr />
                            <div class="card-text" style="max-width: 75vw">
                                <div>
                                    <div class="text-center" style="width: 25%; font-size: 2em; border: 1px solid red;">@obj.Repair.Status</div>
                                </div>
                                <div class="fs-4 border border-danger rounded-3 m-4">
                                    <div class="m-2">
                                        <div>
                                            Яхта: @obj.Repair.Yacht.Name Тип: @obj.Repair.Yacht.Type.Name
                                        </div>
                                        <div>
                                            Требуемое количество персонала: @obj.Repair.Personnel
                                        </div>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <expander class="w-100 " button-class="fw-bold fs-3" message="Персонал(@obj.RepairMen.Count()):">
                                        <div class="w-50">
                                            @foreach (var item in obj.RepairMen)
                                            {
                                                <div class="border border-info rounded-2 m-3 d-flex justify-content-center">
                                                    <div class="m-3 position-relative" style="left:10px;">
                                                        <div>
                                                            @item.Staff.Staff.Name @item.Staff.Staff.Surname @item.Staff.Staff.Email

                                                            @if (obj.Repair.Enddate == null && obj.LeadRight)
                                                            {
                                                                <span>
                                                                    <a class="btn btn-danger m-2" asp-action="@DeleteRM"
                                                                       asp-route-id="@item.Id">-</a>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        @if (obj.RepairMen.Count() < obj.Repair.Personnel && obj.Repair.Enddate == null && obj.LeadRight)
                                        {
                                            <a class="btn btn-primary m-4" asp-action="@CreateRM" asp-route-repairid="@obj.Repair.Id">+</a>
                                        }
                                    </expander>
                                </div>
                                <hr />
                                <div class="m-2">

                                    <expander class="w-100 " button-class="fw-bold fs-3" message="Заявки(@obj.Extradationrequests.Count()):">
                                        <div class="w-50">
                                            @foreach (var item in obj.Extradationrequests)
                                            {

                                                <div class="border border-info rounded-2 m-2">
                                                    <div class="m-3 position-relative" style="left:10px;">
                                                        <div>
                                                            Материал: @item.MaterialNavigation.Name (@item.MaterialNavigation.Type.Name)
                                                        </div>
                                                        <div>
                                                            Количество: @item.Count
                                                        </div>
                                                        <div>
                                                            Статус: @item.Status
                                                        </div>
                                                        @if (obj.Repair.Enddate == null && item.Enddate == null && obj.LeadRight)
                                                        {
                                                            <span>
                                                                <a class="btn btn-danger" asp-controller="RepairStorekeeperCommon" asp-action="@DeleteER"
                                                                   asp-route-id="@item.Id">-</a>
                                                                <a class="btn btn-danger"  asp-controller="RepairStorekeeperCommon" asp-action="@EditER"
                                                                   asp-route-id="@item.Id">Edit</a>
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            @if (obj.Repair.Enddate == null && obj.LeadRight)
                                            {
                                                <a class="btn btn-primary m-4" asp-action="@CreateER"  asp-controller="RepairStorekeeperCommon" asp-route-repairid="@obj.Repair.Id">+</a>
                                            }
                                        </div>
                                    </expander>
                                </div>
                                <hr />
                                <div class="fs-3">
                                    <span>Описание</span>
                                    <div style="text-indent: 2em; white-space: pre-line;">
                                        @(obj.Repair.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

