@model ObjectViewModel<Repair>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">

    <div class="form-group @Model.AlwaysHidden">
        <label asp-for="Object.Id"></label>
        <input class="form-control" asp-for="Object.Id" readonly />
    </div>


    <input hidden readonly asp-for="Object.Startdate" />


    <div class="form-group @Model.HideOnCreate">
        <label>Завершить ремонт?</label>
        @if (Model.Action == "Edit" && Model.Object.Enddate == null && !Model.ReadOnly)
        {
            <select class="form-control" asp-for="Option[0]" asp-items="@(new List<SelectListItem> {
                        new SelectListItem { Selected = true, Text="Да", Value="true" },
                        new SelectListItem { Text="Нет", Value="false" },
                 })"></select>
        }
        else
        {
            <input class="form-control" readonly value="@(Model.Object.Enddate != null? "Да": "Нет")" />
        }
    </div>


    <div class="form-group">
        <label asp-for="Object.Duration"></label>
        <div>
            <span asp-validation-for="Object.Duration" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Duration"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group">
        <label asp-for="Object.Personnel"></label>
        <div>
            <span asp-validation-for="Object.Personnel" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Personnel" min="1" value="1"
               readonly="@Model.ReadOnly" />
    </div>


    <div class="form-group @Model.HideOnDelete">
        <label asp-for="Object.Status"></label>
        <div>
            <span asp-validation-for="Object.Status" class="text-danger"></span>
        </div>
        <select class="form-control" asp-for="Object.Status"
                asp-items="@(new List<SelectListItem> {
                new SelectListItem {Text = "Создан", Value="Created" },
                new SelectListItem {Text = "Ожидает материалы", Value="Waits" },
                new SelectListItem { Text = "В процессе", Value="In Progress" },
                new SelectListItem { Text = "Отменён", Value="Canceled" },})"
                >
        </select>
    </div>

    <div class="form-group @Model.HideOnDelete @Model.HideOnEdit">
        <div class="dropdown-divider"></div>
        <label>Яхта</label>
        <select class="form-control" asp-for="Object.Yachtid"
                asp-items="@(new SelectList(ViewData["Yacht"] as IEnumerable<Yacht> ?? Enumerable.Empty<Yacht>(), "Id", "Name"))"
                disabled="@Model.ReadOnly">
            <option value="" disabled selected>Выберите яхту</option>
        </select>
    </div>

    <div class="dropdown-divider"></div>
    <div class="form-group">
        <label asp-for="Object.Description"></label>
        <div>
            <span asp-validation-for="Object.Description" class="text-danger"></span>
        </div>
        <textarea class="form-control" asp-for="Object.Description"
                  readonly="@Model.ReadOnly"></textarea>
    </div>

    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
        ShowAction = Model.ShowAction,
        Theme = Model.Theme,
        Action = Model.ActionObjectName,
        BackAction = Model.Object.GetType().Name
    })" />
</form>
