@model ObjectViewModel<Yachttest>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">

    <div class="form-group @Model.AlwaysHidden">
        <label asp-for="Object.Id"></label>
        <input class="form-control" asp-for="Object.Id" readonly />
    </div>

    <div class="@Model.HideOnDelete">
        <div class="dropdown-divider"></div>

        <div class="form-group">
            <label>Изменить яхту</label>

            <select class="form-control" asp-for="Object.Yachtid" asp-items="@((ViewData["Yacht"] as IEnumerable<Yacht> ?? Enumerable.Empty<Yacht>()).Select(p => { 
               var item = new SelectListItem();
                   item.Text = $"{p.Name} Тип: {p.Type.Name}";
                   item.Value = $"{p.Id}";
                   return item;
               }))"
                    disabled="@Model.ReadOnly">
                <option value="" disabled selected>Выберите яхту</option>
            </select>
        </div>

    </div>



    <input hidden asp-for="Object.Staffid"/>


    <div class="form-group @Model.HideOnDelete" hidden>
        <label asp-for="Object.Date"></label>
        <div>
            <span asp-validation-for="Object.Date" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Date" />
    </div>


    <div class="form-group">
        <label asp-for="Object.Results"></label>
        <div>
            <span asp-validation-for="Object.Results" class="text-danger"></span>
        </div>
        <textarea class="form-control" asp-for="Object.Results"
                  readonly="@(Model.ReadOnly)"></textarea>
    </div>

    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
        ShowAction = ( Model.ReadOnly && Model.Action =="Edit" )? false : Model.ShowAction ,
        Theme = Model.Theme,
        Action = Model.ActionObjectName,
        BackAction = Model.Object.GetType().Name
    })" />
</form>
