@model ObjectViewModel<Contract>
<partial name="_Validation" />
<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Action</h5>
<form asp-action="@Model..Action" method="post">


    @{
        Model.ReadOnly |= Model.Object.Enddate != null;
        bool s = Model.Object.Startdate < DateTime.Now && Model.Action == CRUD.Edit;
    }

    <div class="form-group" hidden>
        <label asp-for="Object.Id"></label>
        <input class="form-control" asp-for="Object.Id" readonly />
    </div>

    <div class="form-group @Model.DisplayNone(Model.ReadOnly || s)">
        <label>Дата начала контракта*</label>
        <div>
            <span asp-validation-for="Object.Startdate" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Startdate"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group @Model.HideOnCreate @Model.HideOnDelete">
        <div class="form-check form-switch position-relative d-flex" style="left: 20px">
            <div>
                @if (Model.Object.Enddate == null)
                {
                    <input asp-for="Option[0]" class="form-check-input" type="checkbox">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" checked disabled>
                }
            </div>
            <div>
                <label>Завершить контракт</label>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label>Дата предварительного окончания контракта*</label>
        <div>
            <span asp-validation-for="Object.Duration" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Duration"
               readonly="@Model.ReadOnly" />
    </div>

    <div class="form-group @Model.HideOnCreate @Model.HideOnDelete">
        <label asp-for="Object.Averallprice"></label>
        <div>
            <span asp-validation-for="Object.Averallprice" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Object.Averallprice" min="0.0"
               readonly="@(Model.ReadOnly || Model.Object.Paid)" />
    </div>


    <div class="form-group @Model.HideOnCreate @Model.HideOnDelete @Model.DisplayNone(Model.ReadOnly)">
        <div class="form-check form-switch position-relative d-flex" style="left: 20px">
            <div>
                @if (!Model.Object.Paid)
                {
                    <input asp-for="Option[1]" class="form-check-input" type="checkbox">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="Option[1]" disabled>
                }
            </div>
            <div>
                <label>Стандартная цена</label>
            </div>

        </div>
    </div>


    <div class="form-group @Model.HideOnCreate @Model.HideOnDelete">
        <div class="form-check form-switch position-relative d-flex" style="left: 20px">
            <div>
                @if (!Model.Object.Paid)
                {
                    <input asp-for="Object.Paid" class="form-check-input" type="checkbox">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" checked disabled>
                    <input asp-for="Object.Paid" hidden />
                }
            </div>
            <div>
                <label>Оплачен</label>
            </div>

        </div>
    </div>

    <div class="form-group @Model.HideOnDelete @Model.HideOnEdit">
        <label>Заключается:</label>
        <select class="form-control" asp-for="Object.Captaininyachtid"
                asp-items="@((ViewBag.Captain as IEnumerable<YachtCrew> ?? Enumerable.Empty<YachtCrew>()).Select(
                    p => new SelectListItem
                    {
                        Value = p.Id.ToString(),
                        Text = Methods.PersonPhone(p.Crew.Staff) + ", капитан яхты " +p.Yacht.Name + " ("+p.Yacht.Type.Name + ")"
                    }
                ))"
                min="0.0">
            <option value="" disabled selected>Выберите капитана*</option>
        </select>

        <input hidden asp-for="Object.Captaininyachtid" />
    </div>

    <div class="form-group @Model.HideOnDelete @Model.HideOnEdit">
        <label>Заключается с:</label>
        <select class="form-control" asp-for="Object.Clientid"
                asp-items="@((ViewData["Client"] as IEnumerable<Person> ?? Enumerable.Empty<Person>()).Select(
                    p => new SelectListItem
                    {
                        Value = p.Id.ToString(),
                        Text = Methods.PersonPhone(p)
                    }
                ))"
                min="0.0">
            <option value="" disabled selected>Выберите клиента*</option>
        </select>
    </div>

    <div class="form-group @Model.HideOnDelete @Model.HideOnEdit">
        <label>Тип контракта</label>
        <select class="form-control" asp-for="Object.Contracttypeid"
                asp-items="@(new SelectList(ViewBag.Type as IEnumerable<Contracttype> ?? Enumerable.Empty<Contracttype>(), "Id", "Name"))"
                disabled="@Model.ReadOnly">
            <option value="" disabled selected>Выберите тип контракта*</option>
        </select>
    </div>

    <div class="dropdown-divider"></div>
    <div class="form-group">
        <label asp-for="Object.Specials"></label>
        <div>
            <span asp-validation-for="Object.Specials" class="text-danger"></span>
        </div>
        <textarea class="form-control" asp-for="Object.Specials"
                  readonly="@Model.ReadOnly"></textarea>
    </div>

    <partial name="_EditorBottomButtons" model="@(new EditorBottomButtonsViewModel {
        ShowAction = Model.ShowAction && ( Model.Object.Enddate == null || Model.Action != "Edit"),
        Theme = Model.Theme,
        Action = Model.ActionObjectName,
        BackAction = Model.Object.GetType().Name
    })" />
</form>
